<p-dialog header="{{lables.title}}" [(visible)]="display" >
    <p class="msg-error">{{msg}}</p>

    <div class="container-logos">
        <img usemap="#logos" src="../../assets/logo/logos.png" alt="Logos" hidefocus="true" />

        <map name="logos">
            <area target="_self" alt="COVIDGOIÁS :: HOME" title="COVIDGOIÁS"
                  href="https://covidgoias.ufg.br" coords="4,149,240,26" shape="rect">
            <area target="_blank" alt="Acesse o site da UFG" title="UFG" href="https://www.ufg.br/"
                  coords="250,24,520,149" shape="rect">
        </map>
    </div>
</p-dialog>

<div class = "tp-container">
    <div class="container-logo">
        <img src="../.././../assets/logo/logo_white.png" alt="COVIDGOIÀS">
        <span>{{lables.title}}</span>
    </div>

    <mat-form-field appearance="outline" [floatLabel]="'auto'">
        <mat-label>{{lables.label_auth}}</mat-label>
        <input matInput type="password" [(ngModel)]="codigoautorizacao">
        <span class="erros" *ngIf="errorCodigoautorizacao">{{lables.error_msg_unidentified}}</span>
    </mat-form-field>
    <div class="group-btn">
<!--        <button mat-raised-button color="primary" (click)="onRequireAccess()">Solicitar Acesso</button>-->
        <button mat-raised-button color="accent" (click)="closeDialog()">{{lables.label_btn_cancel}}</button>
        <button mat-raised-button color="warn" (click)="onSubmit()" >{{lables.label_btn_login}}</button>
    </div>

</div>