.tp-container {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:  10px 10px 60px #555;
    box-shadow: 10px 10px 60px #555;
    padding: 15px;
    border-radius: 10px;

}

.tp-container > * {
    width: 100%;
}


.container-logo{
    padding: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #dd4646;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
}
.container-logo h4{
    color: white;
    margin: auto;
}

.container-logo img {
    min-width: 5%;
    max-width: 25%;
}


mat-form-field.mat-form-field {
    font-size: 18px;
    width: 100%;
}

mat-form-field.mat-label {
    font-size: 18px;
}

.group-btn{
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

.group-btn button{
    margin: 5px;
    width: 10vw;
}

.erros {
    margin-top: 8px;
    font-weight: bold;
    color: red;
    width: 100%;
    display: block;
    text-align: left;
}