.playlist-msg{
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    padding: 20px;
}

.pdfs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pdfs iframe{
    margin: 10px;
    padding: 5px;
}
