<p-scrollPanel [style]="{width: '100%', height: '72vh'}" >
    <div  class="container-ft" style="text-align: justify">
        <img width='100%' src="../../assets/img/fontes.png" alt="Fontes"/>
        <h5 style="text-align: center"> NOTA TÉCNICA - PROJEÇÕES COVID-19</h5>
        <p>As projeções da plataforma têm por objetivo contribuir com um melhor entendimento da população goiana e dos gestores públicos em relação à propagação da epidemia do vírus Sars COVID-19 no estado de Goiás. Os modelos epidêmicos utilizados são amplamente difundidos no meio científico, dentre eles o SEIR e o exponencial. Todas as projeções são baseadas no histórico de ocorrências diárias do Sars COVID-19, e portanto podem sofrer alterações à cada nova ocorrência, sempre com o objetivo de produzir estimativas mais assertivas.
        </p>
    </div>
</p-scrollPanel>