<nav class="barra-titulo" >
	<div class="row" style="margin-left: 0.8%; margin-right: 0.8%">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: left; align-self: center">
			<a href="."><img width="70%" src="../../../assets/logo/logo_covidgo_mobile.png" alt="Covid-19"/></a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: right">
			<a href="https://www.ufg.br/" target="_blank"><img width="70%" src="../../assets/logo/logo_ufg.png" alt="UFG"/></a>
		</div>
	</div>
</nav>
<mat-tab-group id="tab-mobile" style="height: 88%"> 
		<mat-tab label = "Mapa">  
			<!-- <mat-drawer #drawer [style.z-index]="showDrawer? '4' : '-1'" class="layer-sidenav" mode="over" [autoFocus]="false"
				[opened]="showDrawer">
				<div class="container-drawer">
						<ng-template #rt let-r="result" let-t="term">
								<ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
							</ng-template>
							<input id="typeahead-http" type="text" class="form-control searchRegion"
								[class.is-invalid]="searchFailed" [(ngModel)]="valueRegion"
								[ngbTypeahead]="search" placeholder="Filtre por um Município"
								(selectItem)="updateRegion($event.item)" [resultTemplate]="rt"
								[inputFormatter]="formatter" [value]="currentData" />
							<img [hidden]="selectRegion == defaultRegion" class="clear-region-btn"
								(click)="updateRegion(defaultRegion)" src="assets/clear_button.png" />
							<span *ngIf="searching">{{titlesLayerBox.search_loading}}</span>
							<div class="invalid-feedback" *ngIf="searchFailed">
								{{titlesLayerBox.search_failed}}</div>
				</div>
			</mat-drawer>
			<div class="controls button-search-mobile">
				<button mat-raised-button matTooltip="Acessar camada de dados"  class="controls button-search-mobile" (click)="handleDrawer()">
						<img width="40" height="40" src="../../assets/img/search-mobile.svg" alt="">
				</button>
			</div> -->
			<div id="map" class="dpat-ol-map" style="overflow: hidden" [style.height]="(innerHeigth - 115) + 'px'">
					<div class="container-resumo">
							<div class="resumo-subtitle-card">
								<h1 class="resumo-subtitle"> {{textSummary.title}} </h1>
								<p> {{textSummary.last_update_label}} {{lastUpdate.data}}</p>
								<p> {{textSummary.source_text}}</p>
							</div>
							<div class="resumo">
								<div class="card-resumo">
									<div class="card-resumo-title confirmado" title="Titulo">{{textSummary.confirmed_label}}
									</div>
									<h2>{{summary.confirmados}}</h2>
								</div>
								<div *ngIf="!isFilteredByCity" class="card-resumo">
									<div class="card-resumo-title recuperado" title="Titulo">{{textSummary.suspects_label}}
									</div>
									<h2>{{summary.suspeitos}}</h2>
								</div>
								<div class="card-resumo">
									<div class="card-resumo-title obitos" title="Titulo">{{textSummary.deaths_label}}</div>
									<h2>{{summary.obitos}}</h2>
								</div>
							</div>
							<div class="resumo">
								<div matTooltip="Sair do Município" *ngIf="this.selectRegion != this.defaultRegion"
									[class]="'btn-layers'" aria-label="Sair do Município" (click)="updateRegion(defaultRegion)">
									<img width="22" height="22" src="../../assets/img/close-button.svg" alt="Sair do Município">
									Sair do Município
								</div>
							</div>
						</div>
				<img class="dpat-logo" src="https://o1.lapig.iesa.ufg.br/ows?TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&layer=covid19_municipios_casos&format=image/png">
			</div>
		</mat-tab> 
		<mat-tab  label = "Gráficos" > 
				<mat-tab label="{{dataSeries.timeseries.label}}" >
					<ng-template matTabContent>
							<p-scrollPanel [style]="{width: '100%', height: '100vh'}" >
							<p-tabView >
									<p-tabPanel [header]="selectRegion.nome">
										<h5 *ngIf="!dataSeries.timeseries.chartResult[0]?.show" style="text-align: center;">
											<br>
											<br>
											<strong> {{dataSeries.timeseries.not_cases}} {{selectRegion.nome}} </strong>
											<br>
											<br>
										</h5>
										<div *ngIf="dataSeries.timeseries.chartResult[0]?.show">
											<p style="font-weight: bold; text-align: center;">
												{{ dataSeries.timeseries.chartResult[0]?.text }}</p>
											<p-chart [ngStyle]="{'overflow-x': hidden}"
											height="37vh"
												*ngIf="dataSeries.timeseries.chartResult[0]?.type"
												[type]="dataSeries.timeseries.chartResult[0]?.type"
												[data]="dataSeries.timeseries.chartResult[0]?.dataResult"
												[options]="dataSeries.timeseries.chartResult[0]?.options">
											</p-chart>
										</div>
									</p-tabPanel>
									<p-tabPanel header="Projeções">
											<div style="text-align: justify; padding-bottom: 10px;">
												<h5 style="text-align: center;"><b>{{statistics_county.text.title}}</b> {{selectRegion.nome}}</h5>
												<p><b>{{statistics_county.text.total_dias}}</b> {{statistics_county.result.total_dias}}</p>
												<p *ngIf="statistics_county.result.media_novos_casos_3dias != -1"><b>{{statistics_county.text.media_novos_casos_3dias}}</b> {{statistics_county.result.media_novos_casos_3dias}}</p>
												<p *ngIf="statistics_county.result.dias_duplicacao_confirmados != -1"><b>{{statistics_county.text.dias_duplicacao_confirmados}}</b> {{statistics_county.result.dias_duplicacao_confirmados | number:'1.0-3'}}</p>
											</div>
		
											<h5 *ngIf="!dataProjSeries.timeseries.chartResult[0]?.show" style="text-align: center;">
												<br>
												<br>
												<strong> {{dataProjSeries.timeseries.not_cases}} {{selectRegion.nome}} </strong>
												<br>
												<br>
											</h5>
		
											<div *ngIf="dataProjSeries.timeseries.chartResult[0]?.show">
												<p style="font-weight: bold; text-align: end;">
													{{dataProjSeries.timeseries.last_updated}}  {{dataProjSeries.timeseries.chartResult[0]?.last_model_date | date : 'dd/MM/yyyy'}}</p>
												<p-chart [ngStyle]="{'overflow-x': hidden}"
													height="37vh"
													*ngIf="dataProjSeries.timeseries.chartResult[0]?.type"
													[type]="dataProjSeries.timeseries.chartResult[0]?.type"
													[data]="dataProjSeries.timeseries.chartResult[0]?.dataResult"
													[options]="dataProjSeries.timeseries.chartResult[0]?.options">
												</p-chart>
											</div>
									</p-tabPanel>
									<p-tabPanel  [header]="dataStates.label" id="tabGraficoLinhas">
										<h6 style="text-align: center;">
											<b>{{dataStates.description}}</b>
										</h6>
										<p-chart type="bar" height="36.5vh" [data]="dataStates" [options]="optionsStates">
										</p-chart>
									</p-tabPanel>
									<div>
										<button mat-raised-button style="background-color: #7e1116; margin-bottom: 10px;" (click)="openDialog()">Fontes</button>
									</div>
							</p-tabView>
							<p style="padding: 0px 10px; text-align: justify; font-size: 10px; line-height: 1.6">Acesse a plataforma no computador para uma melhor experiência de visualização, acesso a outros dados e funcionalidades.</p>
						</p-scrollPanel>
						</ng-template>
				</mat-tab>
		</mat-tab>
		<mat-tab  (click)="handleAnalytics('charts', 'dados_oficiais', 'Municípios')" label = "Municípios" >
				<p-scrollPanel [style]="{width: '100%', height: '100%'}">
						<p-table [value]="chartResultCities.series">
							<ng-template pTemplate="header">
								<tr align="center">
									<th *ngFor="let header of chartResultCities.split">
										{{header}}
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-city>
								<tr>
									<td align="center">{{city.rank}}</td>
									<td align="center">{{city.nome}}</td>
									<td align="center">{{city.confirmados}}</td>
								</tr>
							</ng-template>
						</p-table>
					</p-scrollPanel>
		</mat-tab>  
		<mat-tab  label = "Ajuda" > 
				<p-scrollPanel [style]="{width: '100%', height: '100%'}">
					<div style="padding: 10px">
						<img width="100%" src="../../../assets/img/ajuda_covid_mobile.png" />
					</div>
				</p-scrollPanel>
		</mat-tab> 
		<mat-tab  label = "Equipe" > 
				<p-scrollPanel [style]="{width: '100%', height: '100vh'}">
						<div class="container-team">
							<div class="team-section" *ngFor="let section of team">
								<h4>{{section.title}}</h4>
								<div class="team-member" *ngFor="let member of section.members">
									<a target="_blank" [href]="member.link" >{{member.nome}}</a> <br>
									<span>{{member.description}}</span>
								</div>
							</div>
						</div>
						<div style="height: 30vh"></div>
					</p-scrollPanel>
		</mat-tab> 
</mat-tab-group >