<div style="height: 100%">
<nav class="barra-titulo" >
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: left; align-self: center">
				<img width="70%" src="../../../assets/logo/logo_covidgo_mobile.png" alt="Covid-19"/>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: right">
			<img width="70%" src="../../assets/logo/logo_ufg.png" alt="UFG"/>
		</div>
	</div>
</nav>
<mat-tab-group id="tab-mobile" [backgroundColor]="accent"> 
		<mat-tab  label = "Mapa" > 
				<div style="padding: 10px;">
					<div id="map" class="dpat-ol-map">
							<div id="map-info" class="card"
							[ngStyle]="{'visibility': infodata || clickable  ? 'visible' : 'hidden'}">
						 <div *ngIf="infodata && !clickable" class="card-body">
							 <p class="card-text">{{infodata.nome}} - {{infodata.uf}}</p>
							 <table>
								 <tbody>
								 <tr>
									 <th>Código do Município: </th>
									 <td>{{infodata.cd_geocmu }}</td>
								 </tr>
								 <tr>
									 <th>Área: </th>
									 <td>{{infodata.area_mun}} km²</td>
								 </tr>
								 <tr>
									 <th>População </th>
									 <td>{{infodata.pop_2019}}</td>
								 </tr>
								 <tr>
									 <th>Quantidade de Confirmados: </th>
									 <td>{{infodata.confirmados}}</td>
								 </tr>
								 </tbody>
							 </table>
						 </div>
						 <div *ngIf="clickable" class="card-body">
							 <p class="card-text">{{clickableTitle}}</p>
							 <img src='assets/markers/google_maps.png'>
							 <b>Abrir no Google Maps</b>
						 </div>
					 </div>
					</div>
					<div class="legendasConteudo">
							<div class="legends"  *ngFor="let layer of layersNames">
								<mat-expansion-panel [expanded]="layer.visible" >
									<mat-expansion-panel-header  [collapsedHeight]="'40px'" [expandedHeight]="'40px'"
																 class="expansion-header-layer" *ngIf="layer.visible">
										{{layer.label}}
									</mat-expansion-panel-header>
									<div *ngFor="let type of layer.types">
										<img *ngIf="layer.selectedType === type.value" [src]="type.urlLegend">
									</div>
	
								</mat-expansion-panel>
							</div>
						</div>
				</div>
		</mat-tab> 
		<mat-tab  label = "Total"  style="overflow-x: hidden"> 
			<div class="container-resumo">
				<!-- <h1 class="resumo-subtitle">
				Casos no estado de Goiás
				</h1> -->
				<div class="resumo">
					<div class="card-resumo">
						<div class="card-resumo-title confirmado" title="Titulo">Confirmados</div>
						<h2>42</h2>
					</div>
					<div class="card-resumo">
						<div class="card-resumo-title recuperado" title="Titulo">Suspeitos</div>
						<h2 >0</h2>
					</div>
					<div class="card-resumo">
						<div class="card-resumo-title obitos" title="Titulo">Óbitos</div>
						<h2 >1</h2>
					</div>
				</div>
			</div>
				<!-- <mat-card class='box_mobile'>
						<div style="color: #002580">Confirmados</div>
						<div style="color: #002580">39</div>
				</mat-card>
				<mat-card class='box_mobile'>
					<div style="color: #f3e718">Suspeitos</div>
					<div style="color: #f3e718">1300</div>
				</mat-card>
				<mat-card class='box_mobile'>
					<div style="color: #7e1116">Óbitos</div>
					<div style="color: #7e1116">1</div>
				</mat-card> -->
				<!-- <mat-card class='box_mobile'>
						<div style="color: #00994c">Recuperados</div>
						<div style="color: #00994c">10</div>
				</mat-card> -->
				<div class="row" style="margin: 0px">
						<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
								<button mat-raised-button style="background-color: #7e1116" (click)="openDialog()">Fontes</button>
						</div>
						<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="text-align: right">
							Atualizado em 27/03/2020
						</div>
				</div>
		</mat-tab> 
		<mat-tab  label = "Municípios" > 
				<h6 style="text-align: center"><b>Lista de Municípios</b> </h6>
				<table class="table table-sm table-municipios">
					<thead>
						<tr style="text-align: center">
								<th scope="col">#</th>
							<th scope="col">Município</th>
							<th scope="col">Confirmados</th>
							<th class="text-right" scope="col">Óbitos</th>
						</tr>
					</thead>
					<tbody>
						<tr style="text-align: center">
							<th scope="row">1</th>
							<td>Goiânia</td>
							<td>39</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
		</mat-tab> 
		<mat-tab  label = "Gráficos" > 
				<mat-tab label="{{dataSeries.timeseries.label}}" >
						<p-scrollPanel [style]="{width: '100%', height: '72vh'}" >
						<ng-template matTabContent>
							<p-tabView >
								<p-tabPanel [header]="dat.title" *ngFor="let dat of dataSeries.timeseries.chartResult; let i = index" [selected]="i == 0" [disabled]="!dat.show" [cache]="true">
									<div>
										<p style="font-weight: bold; text-align: center;">{{ dat.text }}</p>
										<p-chart [ngStyle]="{'overflow-x': hidden}" *ngIf="dat.type" [type]="dat.type" [data]="dat.dataResult" [options]="dat.options"></p-chart>
									</div>
								</p-tabPanel>
							</p-tabView>
						</ng-template>
						</p-scrollPanel>s
					</mat-tab>
		</mat-tab> 
		<mat-tab  label = "Ajuda" > 
			Conteúdo 3 
		</mat-tab> 
</mat-tab-group >
	<!-- <p-tabView>
			<p-tabPanel header="Mapa">
				 <div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dpat-ol-div">
						<div id="map" class="dpat-ol-map" ></div>
					</div>
				 </div>
			</p-tabPanel>
			<p-tabPanel header="Total">
			</p-tabPanel>
			<p-tabPanel header="Municípios">

			</p-tabPanel>
			<p-tabPanel header="Gráficos">
							<p-scrollPanel [style]="{width: '100%', height: '72vh'}" >
							<ng-template matTabContent>
								<p-tabView >
									<p-tabPanel [header]="dat.title" *ngFor="let dat of dataSeries.timeseries.chartResult; let i = index" [selected]="i == 0" [disabled]="!dat.show" [cache]="true">
										<div>
											<p style="font-weight: bold; text-align: center;">{{ dat.text }}</p>
											<p-chart [ngStyle]="{'overflow-x': hidden}" *ngIf="dat.type" [type]="dat.type" [data]="dat.dataResult" [options]="dat.options"></p-chart>
										</div>
									</p-tabPanel>
								</p-tabView>
							</ng-template>
							</p-scrollPanel>
			</p-tabPanel>
			<p-tabPanel header="Ajuda">

				</p-tabPanel>
	</p-tabView> -->

</div>