.tp-container {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:  10px 10px 60px #555;
    box-shadow: 10px 10px 60px #555;
    padding: 15px;
    border-radius: 10px;

}
.container-logo{
    padding: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #dd4646;
    font-size: 1.9vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
}

.container-logo img {
    max-width: 100%;
    padding-right: 20px;
}

.container-logo span{
    color: white;
    margin: auto;
    font-weight: 700;
    font-size: 3vh;
}

.tp-container > * {
    width: 100%;
}



mat-form-field.mat-form-field {
    font-size: 18px;
    width: 100%;
}

.erros {
    margin-top: 8px;
    font-weight: bold;
    color: red;
    width: 100%;
    display: block;
    text-align: left;
}

.auto-complete{
    width: 100%;
}
.msg-error{
    text-align: center;
    font-weight: bold;
    color: #5b2d31;
    margin: 30px;
    font-size: 4vh;
}

.container-logos {
    position: relative;
}

.container-logos img {
    vertical-align: middle !important;
    padding: 10px;
    max-width: 30%;
}

.erros-http{
    display: block;
    width: 100%;
    margin: 20px;
    text-align: center;
    -webkit-box-shadow:  2px 2px 10px #dd4646;
    box-shadow: 2px 2px 10px #dd4646;
}

mat-form-field.mat-label {
    font-size: 18px;
}

.group-btn{
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

.group-btn button{
    margin: 5px;
    width: 12vw;
}

::ng-deep .mat-select-trigger {
    min-width: 100%;
    width: 100%;
}

::ng-deep .mat-select-panel {
    width: 100%;
    max-height: 100% !important;
}