
	<mat-drawer-container class="container-layer-sidenav" [style.height]="innerHeigth + 'px'" autosize>

		<mat-drawer #drawer [style.z-index]="showDrawer? '4' : '-1'" class="layer-sidenav"  mode="over" [autoFocus]="false" [opened]="showDrawer">
			<div class="container-drawer">
				<div class="titleWindows">
					{{titlesLayerBox.title}}
				</div>


				<div class="collapseLayer" >
					<mat-tab-group class="layersConteudo">
						<mat-tab label="{{titlesLayerBox.label_data}}">
							<p-scrollPanel [style]="{width: '100%', height: '60vh', padding:'10px'}" >
								<mat-accordion>
									<div id="layers_desmatamentos">

										<ng-template #rt let-r="result" let-t="term">
											<ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
										</ng-template>
										<input id="typeahead-http" type="text" class="form-control searchRegion"
											   [class.is-invalid]="searchFailed" [(ngModel)]="valueRegion"
											   [ngbTypeahead]="search"
											   placeholder="{{titlesLayerBox.search_placeholder}}"
											   (selectItem)="updateRegion($event.item)" [resultTemplate]="rt"
											   [inputFormatter]="formatter" [value]="currentData" />
										<img [hidden]="selectRegion == defaultRegion" class="clear-region-btn"
											 (click)="updateRegion(defaultRegion)" src="assets/clear_button.png" />
										<span *ngIf="searching">{{titlesLayerBox.search_loading}}</span>
										<div class="invalid-feedback" *ngIf="searchFailed">
											{{titlesLayerBox.search_failed}}</div>

										<div *ngFor="let groups of descriptor.groups" style="margin-bottom: 10px">
											<mat-expansion-panel [expanded]=groups.group_expanded>
												<mat-expansion-panel-header [collapsedHeight]="'50px'"
																			[expandedHeight]="'50px'" class="expansion-header-layer">
													<h5 class="expansion-layer"><b>{{groups.label}}</b></h5>
												</mat-expansion-panel-header>
												<div class="layersContent" *ngFor="let layer of groups.layers">
													<div style="display: flex">
														<mat-checkbox class="example-margin"
																	  (change)="changeVisibility(layer, $event)"
																	  [checked]=layer.visible>
															{{layer.label}}
														</mat-checkbox>
														<!-- <div class="space"></div>
														<button *ngIf="layer.visible"  (click)="openDialogMetadata(layer)" classs="btn-info" mat-icon-button>
															<mat-icon>info</mat-icon>
														</button> -->
													</div>
													<div *ngIf="layer.visible" style="padding-left: 8%; padding-right: 8%">
														<mat-form-field  style="width: 130px">
															<mat-label>{{descriptor.type}}</mat-label>
															<mat-select (selectionChange)="changeVisibility(layer)"
																		[(value)]="layer.selectedType">
																<mat-option *ngFor="let type of layer.types"
																			[value]="type.value">
																	{{type.Viewvalue}}
																</mat-option>
															</mat-select>
														</mat-form-field>
														<span class="" *ngFor="let type of layer.types"
															  [hidden]="type.value != layer.selectedType">
																	<mat-form-field *ngIf="type.times">
																		<mat-label>{{type.timeLabel}}</mat-label>
																		<mat-select
																				(selectionChange)="updateSourceLayer(type)"
																				[(value)]="type.timeSelected">
																			<mat-option *ngFor="let times of type.times"
																						[value]="times.value">
																				{{times.Viewvalue}}
																			</mat-option>
																		</mat-select>
																	</mat-form-field>
																</span>
													</div>
												</div>
											</mat-expansion-panel>

										</div>
									</div>
								</mat-accordion>
							</p-scrollPanel>
						</mat-tab>
						<mat-tab label="{{titlesLayerBox.label_mapabase}}">
							<div class="form-group baseMap" *ngFor="let basemap of basemapsNames">
								<mat-slide-toggle (change)="baseLayerChecked(basemap, $event)"
												  [(ngModel)]="basemap.visible">
									{{basemap.viewValue}}
								</mat-slide-toggle>
							</div>
						</mat-tab>
						<mat-tab label="{{titlesLayerBox.label_limits}}">
							<div *ngFor="let limits of descriptor.limits">
								<div class="form-group baseMap" *ngFor="let name_limits of limits.types">
									<mat-slide-toggle (change)="limitsLayersChecked(name_limits, $event)"
													  [(ngModel)]="name_limits.visible" class="slideEstados">
										{{name_limits.Viewvalue}}
									</mat-slide-toggle>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>
				</div>

<!--				<div title="Fechar" class="close-drawer" align="center" (click)="handleDrawer()" >-->
<!--					<img  align="center" width="60" height="60"  src="../../assets/gif/close-button.svg" alt="Fechar">-->
<!--				</div>-->
			</div>

		</mat-drawer>

		<div class="layer-sidenav-content" >

			<div id="map" class="dpat-ol-map" [style.height]="innerHeigth + 'px'" >

				<div  class="dpat-logo">
					<div class="container-logos">
						<img width="130" height="130" src="../../assets/logo/logo-ufg.png" alt="UFG"/>
						<img width="130" height="130" src="{{svgLoading}}" alt="Covid-19"/>
					</div>
				</div>

				<div class="btn-languages">
					<button  (click)="changeLanguage('pt-br')" class="color-buttons" mat-raised-button color="accent" [ngStyle]="bntStylePOR">&nbsp;POR</button>
					<button  (click)="changeLanguage('en-us')" class="color-buttons" mat-raised-button color="warn" [ngStyle]="bntStyleENG">&nbsp;ENG</button>
				</div>

				<div class="controls">
					<div  matTooltip="Acessar camada de dados" [class]="showDrawer ? 'btn-layers btn-layers-active' : 'btn-layers'" aria-label="Camadas de dados" (click)="handleDrawer()">
						<img width="30" height="30" src="../../assets/gif/btn_layers.svg" alt="Camadas de dados">
					</div>
					<div  matTooltip="Visualizar estatísticas" [class]="showStatistics ? 'btn-layers btn-layers-active' : 'btn-layers'" aria-label="Estatísticas" (click)="showStatistics = !showStatistics">
						<img width="30" height="30" src="../../assets/gif/charts.svg" alt="Camadas de dados">
					</div>
				</div>

				<div *ngIf="showStatistics" id="positionCharts">
					<div class="titleWindows">
						{{dataSeries.title}}
						<button type="button" class="collapse-btn btn btn-light btn-sm float-right"
								(click)="collapseCharts = !collapseCharts" [attr.aria-expanded]="!collapseCharts"
								aria-controls="camadageografica">-</button>
					</div>
					<div [ngbCollapse]="collapseCharts" id="matgroup">
						<mat-tab-group class="charts" [selectedIndex]="selectedIndex" #matgroup (selectedTabChange)="changeTab($event)">

<!--							<mat-tab label="Projeções Temporais" ></mat-tab>-->

							<mat-tab label="{{dataSeries.timeseries.label}}" >
								<ng-template matTabContent>
									<p-tabView >
										<p-tabPanel [header]="dat.title" *ngFor="let dat of dataSeries.timeseries.chartResult; let i = index" [selected]="i == 0" [disabled]="!dat.show" [cache]="true">
											<div>
												<!-- <p style="font-weight: bold; text-align: center;">{{ dat.text }}</p> -->
												<p-chart [ngStyle]="{'overflow-x': hidden}" *ngIf="dat.type" [type]="dat.type" [data]="dat.dataResult" [options]="dat.options"></p-chart>
											</div>
										</p-tabPanel>
									</p-tabView>
								</ng-template>
							</mat-tab>

						</mat-tab-group>
					</div>
				</div>

				<div id="positionLegend" class="control-layers" cdkDrag>
					<div [class]="collapseLegends ? 'titleWindows radius-bottom' : 'titleWindows'" >
						{{titlesLayerBox.legendTitle}}
						<button type="button" class="collapse-btn btn btn-light btn-sm float-right"
								(click)="collapseLegends = !collapseLegends" [attr.aria-expanded]="!collapseLegends"
								aria-controls="camadageografica">-</button>
					</div>
					<div [ngbCollapse]="collapseLegends" class="legendasConteudo">
						<div class="legends"  *ngFor="let layer of layersNames">
							<mat-expansion-panel [expanded]="layer.visible" >
								<mat-expansion-panel-header  [collapsedHeight]="'40px'" [expandedHeight]="'40px'"
															 class="expansion-header-layer" *ngIf="layer.visible">
									{{layer.label}}
								</mat-expansion-panel-header>
								<div *ngFor="let type of layer.types">
									<img *ngIf="layer.selectedType === type.value" [src]="type.urlLegend">
								</div>

							</mat-expansion-panel>
						</div>
					</div>
				</div>

				<div id="map-info" class="card"
					 [ngStyle]="{'visibility': infodata  ? 'visible' : 'hidden'}">
					<div *ngIf="infodata" class="card-body">
						<p class="card-text">{{infodata.nome}} - {{infodata.uf}}</p>
						<table>
							<tbody>
							<tr>
								<th>Código do Município: </th>
								<td>{{infodata.cd_geocmu }}</td>
							</tr>
							<tr>
								<th>Área: </th>
								<td>{{infodata.area_mun}} km²</td>
							</tr>
							<tr>
								<th>População </th>
								<td>{{infodata.pop_2019}}</td>
							</tr>
							<tr>
								<th>Quantidade de Confirmados: </th>
								<td>{{infodata.confirmados}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</mat-drawer-container>



