<mat-drawer-container class="container-layer-sidenav" autosize>

	<mat-drawer #drawer [style.z-index]="showDrawer? '4' : '-1'" class="layer-sidenav" mode="over" [autoFocus]="false"
		[opened]="showDrawer">
		<div class="container-drawer">

			<div class="titleWindows">
				<div>{{titlesLayerBox.title}}</div>
				<div class="space"></div>
				<div class="btn-languages">
					<button (click)="changeLanguage('pt-br')" class="color-buttons" mat-raised-button color="accent"
						[ngStyle]="bntStylePOR">&nbsp;POR</button>
					<button (click)="changeLanguage('en-us')" class="color-buttons" mat-raised-button color="warn"
						[ngStyle]="bntStyleENG">&nbsp;ENG</button>
				</div>
			</div>

			<div class="collapseLayer">
				<mat-tab-group class="layersConteudo" dynamicHeight>
					<mat-tab label="{{titlesLayerBox.label_data}}">
						<p-scrollPanel [style]="{width: '100%', height: '65vh', padding:'10px'}"
							styleClass="panel-layers">
							<mat-accordion multi="true">
								<div id="layer_dados">
									<ng-template #rt let-r="result" let-t="term">
										<ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
									</ng-template>
									<input id="typeahead-http" type="text" class="form-control searchRegion"
										[class.is-invalid]="searchFailed" [(ngModel)]="valueRegion"
										[ngbTypeahead]="search" placeholder="{{titlesLayerBox.search_placeholder}}"
										(selectItem)="updateRegion($event.item)" [resultTemplate]="rt"
										[inputFormatter]="formatter" [value]="currentData" />
									<img [hidden]="selectRegion == defaultRegion" class="clear-region-btn"
										(click)="updateRegion(defaultRegion)" src="assets/clear_button.png" />
									<span *ngIf="searching">{{titlesLayerBox.search_loading}}</span>
									<div class="invalid-feedback" *ngIf="searchFailed">
										{{titlesLayerBox.search_failed}}</div>

									<div *ngFor="let groups of descriptor.groups" style="margin-bottom: 10px">
										<mat-expansion-panel [expanded]=groups.group_expanded>
											<mat-expansion-panel-header [collapsedHeight]="'50px'"
												[expandedHeight]="'50px'" class="expansion-header-layer">
												<h5 class="expansion-layer"><b>{{groups.label}}</b></h5>
											</mat-expansion-panel-header>

											<div class="layersContent" *ngFor="let layer of groups.layers">
												<div style="display: flex">
													<mat-checkbox class="example-margin"
														(change)="changeVisibility(layer, $event)"
														[checked]=layer.visible>
														{{layer.label}}
													</mat-checkbox>
													<!-- <div class="space"></div>
														<button *ngIf="layer.visible"  (click)="openDialogMetadata(layer)" classs="btn-info" mat-icon-button>
															<mat-icon>info</mat-icon>
														</button> -->
												</div>
												<div *ngIf="layer.visible" style="padding-left: 8%; padding-right: 8%">
													<div *ngIf="layer.types?.length > 1 || layer.showTypes">
														<mat-form-field style="width: 130px;">
															<mat-label>{{descriptor.type}}</mat-label>
															<mat-select (selectionChange)="changeVisibility(layer)"
																[(value)]="layer.selectedType">
																<mat-option *ngFor="let type of layer.types"
																	[value]="type.value">
																	{{type.Viewvalue}}
																</mat-option>
															</mat-select>
														</mat-form-field>
														<span class="" *ngFor="let type of layer.types"
															[hidden]="type.value != layer.selectedType">
															<mat-form-field style="font-weight: bold;" *ngIf="type.times">
																<mat-label>{{type.timeLabel}}</mat-label>
																<mat-select (selectionChange)="zoomToCityOnTypesLayer(type)"
																[(ngModel)]="type.timeSelected">
																	<strong><mat-option  *ngFor="let time of type.times"
																		[value]="time.value">
																		{{time.Viewvalue}}
																	</mat-option></strong>
																</mat-select>
															</mat-form-field>
														</span>
													</div>
													<div *ngFor="let type of layer.types">
														<img *ngIf="layer.selectedType === type.value"
															[src]="type.urlLegend">
													</div>
												</div>
											</div>
										</mat-expansion-panel>
									</div>
								</div>
							</mat-accordion>
							<div style="height: 20vh"></div>
						</p-scrollPanel>
					</mat-tab>
					<mat-tab label="{{titlesLayerBox.label_mapabase}}">
						<div class="form-group baseMap" *ngFor="let basemap of basemapsNames">
							<mat-slide-toggle (change)="baseLayerChecked(basemap, $event)"
								[(ngModel)]="basemap.visible">
								{{basemap.viewValue}}
							</mat-slide-toggle>
						</div>
					</mat-tab>
					<mat-tab label="{{titlesLayerBox.label_limits}}">
						<div *ngFor="let limits of descriptor.limits">
							<div class="form-group baseMap" *ngFor="let name_limits of limits.types">
								<mat-slide-toggle (change)="limitsLayersChecked(name_limits, $event)"
									[(ngModel)]="name_limits.visible" class="slideEstados">
									{{name_limits.Viewvalue}}
								</mat-slide-toggle>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>

		</div>

	</mat-drawer>

	<div class="layer-sidenav-content">
		<div id="map" class="covid19-ol-map" [style.height]="innerHeigth + 'px'">
			<p-dialog header="Solicitação de Acesso à Área Restrita" [(visible)]="display" >
				<p class="msg-error">{{msg}}</p>
				<div class="container-logos-msg">
					<img usemap="#logos" src="../../assets/logo/logos.png" alt="Logos" hidefocus="true" />

					<map name="logos">
						<area target="_self" alt="COVIDGOIÁS :: HOME" title="COVIDGOIÁS"
							  href="https://covidgoias.ufg.br" coords="4,149,240,26" shape="rect">
						<area target="_blank" alt="Acesse o site da UFG" title="UFG" href="https://www.ufg.br/"
							  coords="250,24,520,149" shape="rect">
					</map>
				</div>
			</p-dialog>

			<div class="covid19-logo">
				<div class="container-logos">
					<img usemap="#logos" src="../../assets/logo/logos.png" alt="Logos" hidefocus="true" />

					<map name="logos">
						<area target="_self" alt="COVIDGOIÁS :: HOME" title="COVIDGOIÁS"
							href="https://covidgoias.ufg.br" coords="4,149,240,26" shape="rect">
						<area target="_blank" alt="Acesse o site da UFG" title="UFG" href="https://www.ufg.br/"
							coords="250,24,520,149" shape="rect">
					</map>
					<div *ngIf="restrictedArea" class="info-user">
						<p> {{controls.label_name}} <strong>{{user.nomeresponsavel}}</strong> </p>
						<p> {{controls.label_institution}} <strong>{{user.orgao}} </strong> </p>
					</div>
				</div>

			</div>

			<div class="container-resumo">
				<div class="resumo-subtitle-card">
					<h1 class="resumo-subtitle"> {{textSummary.title}} </h1>
					<p> {{textSummary.last_update_label}} {{lastUpdate.data}}</p>
					<p> {{textSummary.source_text}}</p>
				</div>
				<div class="resumo">
					<div class="card-resumo">
						<div class="card-resumo-title confirmado" title="Titulo">{{textSummary.confirmed_label}}
						</div>
						<h2>{{summary.confirmados  | number }}</h2>
					</div>
					<div *ngIf="!isFilteredByCity" class="card-resumo">
						<div class="card-resumo-title recuperado" title="Titulo">{{textSummary.suspects_label}}
						</div>
						<h2>{{summary.suspeitos  | number }}</h2>
					</div>
					<div class="card-resumo">
						<div class="card-resumo-title obitos" title="Titulo">{{textSummary.deaths_label}}</div>
						<h2>{{summary.obitos  | number }}</h2>
					</div>
				</div>
			</div>

			<div class="controls">
				<div [matTooltip]="controls.label_close_mun" *ngIf="this.selectRegion != this.defaultRegion"
					[class]="'btn-layers'" (click)="updateRegion(defaultRegion)">
					<img width="30" height="30" src="../../assets/img/close-button.svg" [alt]="controls.label_close_mun">
				</div>
				<div [matTooltip]="controls.label_layers"
					[class]="showDrawer ? 'btn-layers btn-layers-active' : 'btn-layers'"
					(click)="handleDrawer()">
					<img width="30" height="30" src="../../assets/img/btn_layers.svg" [alt]="controls.label_layers">
				</div>

				<div [matTooltip]="controls.icu_beds" [class]="'btn-layers'"  (click)="openDialogBeds()">
					<img width="30" height="30" src="../../assets/img/leito.svg"  [alt]="controls.icu_beds">
				</div>

				<div [matTooltip]="controls.label_statistics"
					[class]="showStatistics ? 'btn-layers btn-layers-active' : 'btn-layers'"
					(click)="showStatistics = !showStatistics">
					<img width="30" height="30" src="../../assets/img/charts.svg"[alt]="controls.label_statistics">
				</div>
				<div [matTooltip]="controls.label_zoomin" [class]="'btn-layers'"  (click)="zoomIn()">
					<img width="30" height="30" src="../../assets/img/mais.svg"  [alt]="controls.label_zoomin">
				</div>
				<div [matTooltip]="controls.label_zoomout" [class]="'btn-layers'"  (click)="zoomOut()">
					<img width="30" height="30" src="../../assets/img/menos.svg"  [alt]="controls.label_zoomout" >
				</div>
				<div [matTooltip]="controls.label_tips" [class]="'btn-layers'" (click)="openDialogAjuda()">
					<img width="30" height="30" src="../../assets/img/tips.svg" [alt]="controls.label_tips">
				</div>
				<div [matTooltip]="controls.label_historic" [class]="showSlider ? 'btn-layers btn-layers-active' : 'btn-layers'" (click)="handleSlider()">
					<img width="30" height="30" src="../../assets/img/history.svg" [alt]="controls.label_historic">
				</div>
<!--				<div [matTooltip]="controls.label_restricted_area" [class]="'btn-layers'"-->
<!--					(click)="handleRestrictedArea()">-->
<!--					<img width="30" height="30" src="../../assets/img/restrictedArea.svg" [alt]="controls.label_restricted_area">-->
<!--				</div>-->
			</div>

			<div class="slider" *ngIf="showSlider" >
				<h6> {{controls.text_historic.replace('[dias]',dates.length)}}</h6>
				<mat-slider
						#datesSlider
						thumbLabel
						(input)="onSliderChange($event)"
						[displayWith]="formatRateLabel(datesSlider.value)"
						color="warn"
						value="{{dates.length -1}}"
						tickInterval="1"
						min="{{'0'}}"
						max="{{dates.length -1}}"
			>
				</mat-slider>
			</div>

			<div *ngIf="showStatistics" id="positionCharts">
				<div class="titleWindows">
					<div>{{dataSeries.title}}</div>

					<div class="space"></div>

					<button class="btn-colapse" mat-mini-fab (click)="collapseCharts = !collapseCharts"
						[attr.aria-expanded]="!collapseCharts">
						<mat-icon> {{collapseCharts ? 'expand_less' : 'expand_more'}}</mat-icon>
					</button>
				</div>
				<div [ngbCollapse]="collapseCharts" id="matgroup">
					<mat-tab-group class="charts" [selectedIndex]="selectedIndex" #matgroup
						(selectedTabChange)="changeTab($event)">

						<mat-tab label="{{dataSeries.timeseries.label}}">
							<p-tabView>
								<p-tabPanel [header]="selectRegion.nome">

									<h5 *ngIf="!dataSeries.timeseries.chartResult[0]?.show" style="text-align: center;">
										<br>
										<br>
										<strong> {{dataSeries.timeseries.not_cases}} {{selectRegion.nome}} </strong>
										<br>
										<br>
									</h5>

									<div *ngIf="dataSeries.timeseries.chartResult[0]?.show">
										<p style="font-weight: bold; text-align: center;">
											{{ dataSeries.timeseries.chartResult[0]?.text }}</p>
										<p-chart [ngStyle]="{'overflow-x': hidden}"
											*ngIf="dataSeries.timeseries.chartResult[0]?.type"
											[type]="dataSeries.timeseries.chartResult[0]?.type"
											[data]="dataSeries.timeseries.chartResult[0]?.dataResult"
											[options]="dataSeries.timeseries.chartResult[0]?.options">
										</p-chart>
									</div>
								</p-tabPanel>

								<p-tabPanel *ngIf="neighborhoodsCharts.show" [header]="neighborhoodsCharts.label">
									<p-scrollPanel [style]="{width: '100%', height: '38vh'}">
										<p-table #dt [value]="neighborhoodsCharts.series" [columns]="neighborhoodsCharts.split" [exportFilename]="neighborhoodsCharts.filename">
											<ng-template pTemplate="caption">
												<div class="ui-helper-clearfix" style="text-align: left">
													<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em; color: #460202"></button>
													<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf('bairros')" class="ui-button-warning" style="margin-right: 0.5em; color: #460202"></button>
													<button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel('bairros')" style="margin-right: 0.5em;" class="ui-button-success" style="margin-right: 0.5em; color: #460202"></button>
													<span style="text-align: right"> {{minireportText.label_last_update}} {{neighborhoodsCharts.last_updated}}</span>
												</div>
											</ng-template>
											<ng-template pTemplate="header" let-columns>
												<tr align="center">
													<th *ngFor="let col of columns">
														{{col.header}}
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-city let-columns="columns">
												<tr align="center">
													<td *ngFor="let col of columns">
														{{city[col.field]}}
													</td>
												</tr>
											</ng-template>
										</p-table>
									</p-scrollPanel>
								</p-tabPanel>

								<p-tabPanel [header]="chartResultCities.label">
									<p-scrollPanel [style]="{width: '100%', height: '38vh'}">

										<p-table #dt [value]="chartResultCities.series" [columns]="chartResultCities.split" [exportFilename]="chartResultCities.filename"
										selectionMode="single" (onRowSelect)="onCityRowSelect($event)">
											<ng-template pTemplate="caption">
												<div class="ui-helper-clearfix" style="text-align: left">
													<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em; color: #460202"></button>
													<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf('cities')" class="ui-button-warning" style="margin-right: 0.5em; color: #460202"></button>
													<button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel('cities')" style="margin-right: 0.5em;" class="ui-button-success" style="margin-right: 0.5em; color: #460202"></button>
													<a target="_blank" class="nota" href="https://www.ufg.br/n/126975-nota-sobre-atualizacao-na-plataforma-covid-goias">Nota sobre o dado divulgado no dia 08/05/2020.</a>
												</div>
											</ng-template>
											<ng-template pTemplate="header" let-columns>
												<tr align="center">
													<th *ngFor="let col of columns">
														{{col.header}}
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-city let-columns="columns">
												<tr [pSelectableRow]="city" pTooltip="{{chartResultCities.tooltip}}"
												tooltipPosition="bottom" life="3000" align="center">
													<td *ngFor="let col of columns">
														{{city[col.field]}}
													</td>
												</tr>
											</ng-template>
										</p-table>
									</p-scrollPanel>
								</p-tabPanel>


								<p-tabPanel [header]="dataStates.label" id="tabGraficoLinhas">
									<h6 style="text-align: center;">
										<b>{{dataStates.description}}</b>
									</h6>
									<p-chart type="bar" [data]="dataStates" [options]="optionsStates">
									</p-chart>
								</p-tabPanel>

							</p-tabView>
						</mat-tab>

						<mat-tab label="{{dataProjSeries.timeseries.label}}">
							<p-tabView>
								<p-tabPanel [header]="selectRegion.nome">

									<h5 *ngIf="!dataProjSeries.timeseries.chartResult[0]?.show" style="text-align: center;">
										<br>
										<br>
										<strong> {{dataProjSeries.timeseries.not_cases}} {{selectRegion.nome}} </strong>
										<br>
										<br>
									</h5>


									<div style="text-align: start;" *ngIf="dataProjSeries.timeseries.chartResult[0]?.show">
										<!-- <h5><b>{{statistics_county.text.title}}</b> {{selectRegion.nome}}</h5> -->
										<p><b>{{statistics_county.text.total_dias}}</b> {{statistics_county.result.total_dias}}</p>
										<p *ngIf="statistics_county.result.media_novos_casos_3dias != -1"><b>{{statistics_county.text.media_novos_casos_3dias}}</b> {{statistics_county.result.media_novos_casos_3dias}}</p>
										<p *ngIf="statistics_county.result.dias_duplicacao_confirmados != -1"><b>{{statistics_county.text.dias_duplicacao_confirmados}}</b> {{statistics_county.result.dias_duplicacao_confirmados | number:'1.0-3'}}</p>
										<br>
									</div>

									<div *ngIf="dataProjSeries.timeseries.chartResult[0]?.show">
										<p style="font-weight: bold; text-align: end;">
											{{dataProjSeries.timeseries.last_updated}}  {{dataProjSeries.timeseries.chartResult[0]?.last_model_date | date : 'dd/MM/yyyy'}}</p>
										<p-chart [ngStyle]="{'overflow-x': hidden}"
											*ngIf="dataProjSeries.timeseries.chartResult[0]?.type"
											[type]="dataProjSeries.timeseries.chartResult[0]?.type"
											[data]="dataProjSeries.timeseries.chartResult[0]?.dataResult"
											[options]="dataProjSeries.timeseries.chartResult[0]?.options">
										</p-chart>
									</div>
									<div style="height: 30vh"></div>
								</p-tabPanel>
							</p-tabView>
						</mat-tab>

						<mat-tab label="{{dataSource.title}}">
							<p-scrollPanel [style]="{width: '100%', height: '60vh'}">
								<div class="container-ft">
									<img src="../../assets/img/fontes.png" alt="Fontes" />
									<h5>{{dataSource.technical_note_title}}</h5>
									<p>
										{{dataSource.technical_note}}
									</p>
									<div style="height: 30vh"></div>
								</div>
							</p-scrollPanel>
						</mat-tab>

						<mat-tab label="{{team.title}}">
							<p-scrollPanel [style]="{width: '100%', height: '60vh'}">

								<div class="container-project">
									<p>{{team.info}}</p>
									<p>{{team.methodology_p1}}</p>
									<p>{{team.methodology_p2}}</p>
									<p>{{team.methodology_p3}}</p>
									<p [innerHTML]="team.contact"></p>
								</div>

								<h4 class="title-team">{{team.title_team}}</h4>

								<div class="container-team">
									<div class="team-section" *ngFor="let section of team.data">
										<h4>{{section.title}}</h4>
										<div class="team-member" *ngFor="let member of section.members">
											<a target="_blank" [href]="member.link" >{{member.nome}}</a> <br>
											<span>{{member.description}}</span>
										</div>
									</div>
								</div>
								<div style="height: 30vh"></div>
							</p-scrollPanel>
						</mat-tab>

					</mat-tab-group>

					<!-- <mat-tab label="{{dataProjSeries.timeseries.label}}">
								<ng-template matTabContent>
									<p-tabView>
										<p-tabPanel [header]="selectRegion.nome"
											*ngFor="let dat of dataProjSeries.timeseries.chartResult; let i = index"
											[selected]="i == 0">
											<div>
												<p style="font-weight: bold; text-align: center;">{{ dat.text }}</p>
												<p-chart [ngStyle]="{'overflow-x': hidden}" *ngIf="dat.type"
													[type]="dat.type" [data]="dat.dataResult" [options]="dat.options">
												</p-chart>
											</div>
										</p-tabPanel>
									</p-tabView>
								</ng-template>
						</mat-tab>  -->

					<!--				<div id="positionLegend" class="control-layers" cdkDrag>-->
					<!--					<div [class]="collapseLegends ? 'titleWindows radius-bottom' : 'titleWindows'" >-->

					<!--						<div>{{titlesLayerBox.legendTitle}}</div>-->

					<!--						<div class="space"></div>-->

					<!--						<button class="btn-colapse" mat-mini-fab (click)="collapseLegends = !collapseLegends" [attr.aria-expanded]="!collapseLegends" >-->
					<!--							<mat-icon> {{collapseLegends ? 'expand_less' : 'expand_more'}}</mat-icon>-->
					<!--						</button>-->
					<!--					</div>-->

					<!--					<div [ngbCollapse]="collapseLegends" class="legendasConteudo">-->
					<!--						<div class="legends"  *ngFor="let layer of layersNames">-->
					<!--							<mat-expansion-panel [expanded]="layer.visible" >-->
					<!--								<mat-expansion-panel-header  [collapsedHeight]="'40px'" [expandedHeight]="'40px'"-->
					<!--															 class="expansion-header-layer" *ngIf="layer.visible">-->
					<!--									{{layer.label}}-->
					<!--								</mat-expansion-panel-header>-->
					<!--								<div *ngFor="let type of layer.types">-->
					<!--									<img *ngIf="layer.selectedType === type.value" [src]="type.urlLegend">-->
					<!--								</div>-->

					<!--							</mat-expansion-panel>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
				</div>

			</div>
			<!-- [ngStyle]="{'visibility': (infodata || clickable) || infobairro ? 'visible' : 'hidden'}"> -->
			<!-- [ngStyle]="{'visibility': infodata  ? 'visible' : (infobairro ? 'visible' : (clickable ? 'visible' : 'hidden'))}"> -->

			<div id="map-info" class="card" 
			[ngStyle]="{'visibility': infodata  ? 'visible' : (infobairro ? 'visible' : (clickable ? 'visible' : 'hidden'))}">
				<div *ngIf="infodata && !clickable" class="card-body">
					<p class="card-text">{{infodata.nome}} - {{infodata.uf}}</p>
					<table>
						<tbody>
							<tr>
								<th>{{minireportText.ibge_code}} </th>
								<td>{{infodata.cd_geocmu }}</td>
							</tr>
							<tr>
								<th>{{minireportText.area}}</th>
								<td>{{infodata.area_mun | number:'1.2-2'  }} km²</td>
							</tr>
							<tr>
								<th>{{minireportText.qtd_population}} </th>
								<td>{{infodata.pop_2019 | number:'1.0-0' }} </td>
							</tr>
							<tr>
								<th>{{minireportText.confirmed_cases}} </th>
								<td>{{infodata.confirmados}}</td>
							</tr>
							<tr>
								<th>{{minireportText.label_last_update}} </th>
								<td>{{infodata.data | date : 'dd/MM/yyyy'}}</td>
							</tr>
						</tbody>
					</table>
					<div style="text-align:center;color:darkred"> <br> <strong>{{minireportText.click_more_municipio}} </strong></div>
				</div>
				<div *ngIf="infobairro && !clickable" class="card-body">
					<p class="card-text">{{infobairro.nome}}</p>
					<table>
						<tbody>
							<tr>
								<th>{{minireportText.label_area_bairro}}</th>
								<td>{{infobairro.area_km2 | number:'1.2-2'  }} km²</td>
							</tr>
							<tr>
								<th>{{minireportText.confirmed_cases}} </th>
								<td>{{infobairro.numpoints}} </td>
							</tr>
							<tr>
								<th>{{minireportText.label_fonte}} </th>
								<td>{{infobairro.fonte}}</td>
							</tr>
							<tr>
								<th>{{minireportText.label_last_update}} </th>
								<td>{{infobairro.data_ultima_atualizacao | date : 'dd/MM/yyyy'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div *ngIf="clickable" class="card-body">
					<p class="card-text">{{clickableTitle}}</p>
					<div align="center" style="padding: 10px">
						<table>
							<tbody>
								<tr *ngIf="infomarker.horario">
									<th>{{minireportText.label_horario_atendimento}} </th>
									<td>{{infomarker.horario}} </td>
								</tr>
								<tr *ngIf="infomarker.telefone">
									<th>{{minireportText.label_telefone}} </th>
									<td>{{infomarker.telefone}} </td>
								</tr>
								<tr *ngIf="infomarker.leitos_clinica">
									<th>{{minireportText.label_qnt_geral}} </th>
									<td>{{infomarker.leitos_clinica}}</td>
								</tr>
								<tr *ngIf="infomarker.leitos_uti">
									<th>{{minireportText.label_qnt_uti}}</th>
									<td>{{infomarker.leitos_uti}}</td>
								</tr>
							</tbody>
						</table>


						<img src='assets/markers/google_maps.png'> <br>
						<b> {{minireportText.open_googlemaps}} </b>
					</div>
				</div>
			</div>

		</div>

	</div>

</mat-drawer-container>
